* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: quicksand, sans-serif;
  padding-top: 5vh;
}

:root {
  --hue-neutral: 115; 
  --hue-wrong: 0; 
  --hue-correct:115;
}

.quizPage {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--hue)0, 100%, 100%);
}

body.correct {
 --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
 }

 .container {
   width: 800px;
   max-width: 80%;
   background-color: white;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0 0 10px 2px;
 }

 .btn-grid {
   display: grid;
   grid-template-columns: repeat(2, auto);
   gap: 10px;
   margin: 20px 0;
 }

 .btn {
   --hue: var(--hue-neutral);
   border: 1px solid hsl(var(--hue), 100%, 30%);
   background-color: hsl(var(--hue), 100%, 50%);
   border-radius: 5px;
   padding: 5px 10px;
   color:white;
   outline: none;
 }

 .btn:hover {
   border-color: black; 
 }

 .btn.correct {
  --hue: var(--hue-correct);
  color: black;
 }

 .btn.wrong {
  --hue: var(--hue-wrong);
 }

 .start-btn, .next-btn {
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px 20px;
 }

 .controls {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .hide {
   display: none;
 }

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.videoCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.section {
  z-index: 1000;
}

.box {
  display: none;
  background-color: #4db848;
  font-weight: bold;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  min-height: 5vh;
  background-color: #ffffff;
  top: 0;
  transition: 0.3s;
  z-index: 3;
  border-bottom: solid 1px #707070;
  box-shadow: 1px;
}
.logo {
  max-width: 220px;
  height: 56px;
  margin-left: 0%;
}
.navigation {
  display: grid;
  grid-template-columns: auto auto auto;
}
.navigation {
  float: right;
  justify-content: space-around;
  list-style: none;
  width: 70%;
}
.navigation a {
  color: #707070;
  font-family: quicksand, sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  transition: 0.3s;
  text-align: right;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.navigation a:hover {
  background-color: #4db848;
}
.navigation a:active {
  background-color: #4db848;
}
.closebtn {
  display: none;
}
.openbtn {
  display: none;
}
.overlay-content a {
  display: none;
}
.logomob {
  display: none;
}
.slideshow {
  display: block;
  margin-top: 10%;
  margin-left: 40%;
  max-width: 30%;
  max-height: 30%;
  position: relative;
  text-align: center;
}
ul.breadcrumb {
  margin-top: 3%;
  margin-left: 4%;
  list-style: none;
  background-color: #ffffff;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #707070;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #4db848;
  text-decoration: none;
}
.fontpage {
  color: #313331;
  margin-top: 20%;
  margin-left: 40%;
  z-index: 10001;
}
.submenutil {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  background-color: #ffffff;
  margin-left: 15%;
  margin-bottom: 40px;
  margin-top: 10%;
}
.slidecontainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 5%;
}
.slidecontainer img {
  width: 300px;
  height: 300px;
}
.bruning {
  background-color: #4db848;
  font-weight: bold;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.stegning {
  background-color: #4db848;
  font-weight: bold;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.kogning {
  background-color: #4db848;
  font-weight: bold;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.subnavved {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px;
  background-color: #ffffff;
  margin-left: 20%;
  margin-bottom: 40px;
  margin-top: 10%;
}
.rengoring {
  background-color: #4db848;
  font-weight: bold;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.ovrig {
  background-color: #4db848;
  border: none;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.submenuovrig {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  background-color: #ffffff;
  margin-left: 20%;
  margin-bottom: 40px;
  margin-top: 10%;
}
.filter {
  background-color: #4db848;
  font-weight: bold;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.skaerm {
  background-color: #4db848;
  font-weight: bold;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.kipsystem {
  background-color: #4db848;
  font-weight: bold;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.generator {
  background-color: #4db848;
  font-weight: bold;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 5px;
  padding: 64px 16px;
  height: 200px;
  width: 200px;
  cursor: pointer;
  word-break: keep-all;
}
.slideshowrengoring {
  position: relative;
  margin-left: 38%;
}
.slideshowrengoring .mySlidesRengoring img {
  width: 300px;
  height: 400px;
}
.prev,
.next {
  font-size: 11px;
}
.mySlidesRengoring {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 16px;
  color: #313331;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: #000000;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.slideshowrengoring img {
  width: 300px;
  height: 600px;
}
.fedtfilterinfo {
  margin-left: 25%;
  height: 500px;
  width: 400px;
}

.test-btn {
  background-color: #4db848;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
    box-shadow: 0 0 10px 2px;
    border-radius: 5px;

}

@media screen and (max-width: 992px) {

  :root {
    --hue-neutral: 115; 
    --hue-wrong: 0; 
    --hue-correct:115;
  }
  
  .quizPage {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue)0, 100%, 100%);
  }
  
  body.correct {
   --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
   }
  
   .container {
     width: 800px;
     max-width: 80%;
     background-color: white;
     border-radius: 5px;
     padding: 10px;
     box-shadow: 0 0 10px 2px;
   }
  
   .btn-grid {
     display: grid;
     grid-template-columns: repeat(2, auto);
     gap: 10px;
     margin: 20px 0;
   }
  
   .btn {
     --hue: var(--hue-neutral);
     border: 1px solid hsl(var(--hue), 100%, 30%);
     background-color: hsl(var(--hue), 100%, 50%);
     border-radius: 5px;
     padding: 5px 10px;
     color:white;
     outline: none;
   }
  
   .btn:hover {
     border-color: black; 
   }
  
   .btn.correct {
    --hue: var(--hue-correct);
    color: black;
   }
  
   .btn.wrong {
    --hue: var(--hue-wrong);
   }
  
   .start-btn, .next-btn {
     font-size: 1.5rem;
     font-weight: bold;
     padding: 10px 20px;
   }
  
   .controls {
     display: flex;
     justify-content: center;
     align-items: center;
   }
  
   .hide {
     display: none;
   }
  
  .openbtn {
    display: block;
    color: #313331;
    font-weight: 900;
    padding-top: 1%;
  }
  .logomob {
    display: block;
    width: 10%;
  }
  .navigation {
    display: none;
  }
  .nav-wrapper {
    display: none;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #313331;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    font-size: x-large;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #ffffff;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .mobile {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: 1%;
    border-bottom: 2px solid #129a55;
  }
  .fontpage {
    color: #313331;
    margin-top: 30%;
    margin-left: 25%;
    margin-right: 0%;
  }
  .slideshow {
    display: block;
    margin-left: 12%;
    margin-top: 30%;
    max-width: 75%;
    max-height: 75%;
    position: relative;
    text-align: center;
  }
  .slidecontainer {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 5%;
  }
  .slidecontainer img {
    width: 200px;
    height: 200px;
  }
  .slideshowrengoring {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .slideshowrengoring .mySlidesRengoring img {
    width: 200px;
    height: 300px;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 16px;
    color: #313331;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .subnavtemp {
    list-style-type: none;
    margin-top: 3%;
    margin-left: 20%;
    overflow: hidden;
  }
  .lisubnavtemp {
    float: left;
  }
  .lisubnavtemp a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
  }
  .submenutil {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
    background-color: #ffffff;
    margin-left: 25%;
    margin-bottom: 40px;
    margin-top: 15%;
  }
  .bruning {
    background-color: #4db848;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  .stegning {
    background-color: #4db848;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  .kogning {
    background-color: #4db848;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  .subnavved {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1px;
    background-color: #ffffff;
    margin-left: 20%;
    margin-bottom: 40px;
    margin-top: 10%;
  }
  .rengoring {
    background-color: #4db848;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  .ovrig {
    background-color: #4db848;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  .submenuovrig {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1px;
    background-color: #ffffff;
    margin-left: 20%;
    margin-bottom: 40px;
    margin-top: 10%;
  }
  .filter {
    background-color: #4db848;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  .skaerm {
    background-color: #4db848;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  .kipsystem {
    background-color: #4db848;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  .generator {
    background-color: #4db848;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 5px;
    padding: 14px 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
  }
  .fedtfilterinfo {
    margin-left: 15%;
    height: 400px;
    width: 300px;
  }
}
@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  :root {
    --hue-neutral: 115; 
    --hue-wrong: 0; 
    --hue-correct:115;
  }
  
  .quizPage {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue)0, 100%, 100%);
  }
  
  body.correct {
   --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
   }
  
   .container {
     width: 400px;
     max-width: 80%;
     background-color: white;
     border-radius: 5px;
     padding: 10px;
     box-shadow: 0 0 10px 2px;
   }
  
   .btn-grid {
     display: grid;
     grid-template-columns: repeat(2, auto);
     gap: 10px;
     margin: 20px 0;
   }
  
   .btn {
     --hue: var(--hue-neutral);
     border: 1px solid hsl(var(--hue), 100%, 30%);
     background-color: hsl(var(--hue), 100%, 50%);
     border-radius: 5px;
     padding: 5px 10px;
     color:white;
     outline: none;
   }
  
   .btn:hover {
     border-color: black; 
   }
  
   .btn.correct {
    --hue: var(--hue-correct);
    color: black;
   }
  
   .btn.wrong {
    --hue: var(--hue-wrong);
   }
  
   .start-btn, .next-btn {
     font-size: 1.5rem;
     font-weight: bold;
     padding: 10px 20px;
   }
  
   .controls {
     display: flex;
     justify-content: center;
     align-items: center;
   }
  
   .hide {
     display: none;
   }
  

}
